body {
  overflow-x: hidden;
}

.container {
  height: 100%;
}

.btn {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  color: white;
}

.dark {
  background-color: rgb(20, 117, 121) !important; 
}

.color {
  background-color: rgb(25, 65, 66) !important; 
  color:#FFFFFF !important;
}

.top {
  margin-top: 35px;
  padding-bottom: 10px;
}

.darks {
  background-color: black;
  color: #FFFFFF;
}

.Link {
  text-decoration: none;
  color: #FFFFFF;
}

.Links {
  margin: 0px auto;
}

.space {
  margin-left: 10px;
  margin-top: 30px;
}

.menus{
  display: none;
}

.img {
  width: 100%;
}

.div {
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
}

.detail {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .header-edit {
    margin-top: 3px !important;
  }
}

@media screen and (min-width: 425px) {
  .Grid {
    margin: 20px !important;
  }
}

@media screen and (max-width: 400px) {
  .menus{
    display: block;
  }
  .hide {
    display: none;
  }
}

@media screen and (max-width: 725px) {
  .detail {
    flex-direction: column;
  }
  .top {
    margin-top: 0px;
  }
}